
 
    $primery-color: #212121;
    $accent-color: #2196F3; 
    $primery-background: #ffffff;
    $connect-color: #757575; 
    $primery-bg--color: #2F303A;
    $bg-image-color: #F5F4FA;
    $color-position:  rgba(47, 48, 58, 0.8);
    $border-image: #EEEEEE; 
    $footer-color: rgba(255, 255, 255, 0.1);
    $bg-button-color: rgba(245, 244, 250, 1);

    $portfolio-bg-color: #E5E5E5;  
  
    $icon-border:#AFB1B8;
    $bg-button-a: rgba(245, 244, 250, 1);
   
 
    $cubic:cubic-bezier(0.4, 0, 0.2, 1);
    $form-color:(255, 255, 255, 0.6);
     

    